.form{
    margin-top: 30px;
    border: 2px solid rgb(135, 134, 134);
    width: 400px;
    height: 100px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: sticky;
    border-radius: 7px;
    
}

.input{
    width: 300px;
    margin-left: 40px;
    justify-content: center;
}