.form{
    margin-left: 30px; 
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
}

.contact{
    width: 300px;
    height: 65px;
    margin-top: 10px;
    border: 2px solid black;
    margin-left: 10px;
    padding: 10px;
    border-radius: 7px;
    flex-direction: column;
    background-color: aliceblue;
    color: black;  
}

.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
    margin-right: 3px;
}

.BtnDone{
    background-color: rgba(82, 186, 90, 0.705);
    width: 70px;
    height: 25px;
    border-radius: 8px;
    color: aliceblue;
}
.BtnDelete{
    background-color: rgba(173, 23, 28, 0.705);;
    width: 70px;
    height: 25px;
    border-radius: 8px;
    color: aliceblue;
}

@media (max-width: 768px) {
    .form {
      padding: 12px;
      max-width: 100%;
      margin-left: 20px;
    }
    .contact{
        flex-direction: column;
    }
}
@media (max-width: 1200px) {
    .form {
      padding: 12px;
      max-width: 100%;
      margin-left: 7px;
      width: 500px;
    }
    .contact{
        flex-wrap: wrap;
        width: 380px;
       
    }
}

@media (max-width: 1500px) {
    .form {
      padding: 12px;
    
      margin-left: 7px;
    
    }
    .contact{
       flex-wrap: wrap;
        width: 380px;
       
    }
}