.form{
    border: 2px solid rgb(135, 134, 134);
    width: 400px;
    height: 200px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
}
.inputName{
    width: 300px;
    margin-left: 40px;
    justify-content: center;
}
.inputPlan{
    width: 300px;
    height: 50px;
    margin-left: 40px;  
}
.button{
    width: 90px;
    height: 30px;
    margin-top: 20px;
    align-self: center;
    background-color: rgb(255, 128, 0, 0.705);
    color: aliceblue;
}
.error{
    color: brown;
    font-size: 30px;
}