.form{
    border: 2px solid black;
    width: 400px;
    height: 300px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    margin-left: 30px;
    flex-direction: column;
}
.inputName{
    width: 300px;
    height: 30px;
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 8px;
}
.inputPlan{
    width: 300px;
    height: 60px;
    margin-left: 40px;
    background-color: aliceblue;
    border-radius: 8px; 
    margin-top: 15px;
}
.button{
    width: 90px;
    height: 30px;
    margin-top: 20px;
    align-self: center;
    background-color: rgba(69, 119, 190, 0.705);
    color: aliceblue;
    border-radius: 7px;
}
.error{
    color: brown;
    font-size: 30px;
}

@media (max-width: 600px) {
    .form {
      padding: 12px;
     width: 375px;
    }
}