*{
margin: 0;
padding: 0;
}
.tracker{
  background-color: rgb(113, 115, 126);
  min-height: 100vh;
  color: rgba(209, 222, 240, 0.705);
}
.mainContainer{
  display: grid;
  flex-direction: column;
}
.main{
  display: flex;
}
h1{
  font-size: 50px;
  margin-left: 100px;
}
@media (max-width: 1500px) {
  .main {
    flex-direction: column;
  }

}

